*{
    margin: 0px;
    padding: 0px;
}
/*----------------- PRINCIPIO DE LA PAGINA PRINCIPAL ------------------ */

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import "lesshat";


@font-face{
    font-family: HomemadeApple;
    src: url(fonts/letra.ttf);
    font-style: regular;
    
    }

@font-face{
        font-family: open_sans;
        src: url(fonts/letra1.ttf);
        font-style: regular;
        
    }
@font-face{
    font-family: caveat;
    src: url(fonts/AmaticSC-Regular.ttf);
    font-style: normal;
}
.titulo{
    font-family: caveat;
    text-align: center;
    font-size: 100px;
    font-weight: 1px;
    padding: 40px;
    margin: 10px;
    position: relative;
    color: white; 

}
.subtitulo{
    font-family: HomemadeApple;
    text-align: center;
    font-size: 30px;
	color: #fff;
    position: relative;
    padding:50px;
   
}

.menu ul{
    list-style: inherit;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    position: relative;
    top: 20px;
   
}

.menu li{
    display: inline-block;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    position: relative;
    font: normal normal normal 21px/1.4em oswald-medium,oswald,sans-serif;
    transition: color 0.4s ease 0s;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    opacity: 1;
    margin-right:30px;
}

.menu a:hover{
    background-color: white;
    transition: 0.6s;
    display: block;
    color: black;
}

.todo{
    background-image: url("images/night.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    padding: 0px;
   }

.todo::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index:-1;
  }

/*--------------------- CONTENIDO DE LA PAGINA ------------------------*/
h2{
    font: normal normal normal 30px/1.4em spinnaker,sans-serif;
    text-transform: uppercase;
    display: block;
    font-size: 40px;
    color: black;
    padding: 30px;
    font-style: initial;
    text-align: center;
    vertical-align: baseline;
    background: 0 0;
    letter-spacing: 0.2em;
    padding: 30px;
    text-align: center;
}
.img{
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 20px;
    display: inline-table;
    height: 300px;
    width: 200px;
    text-align: center;
    transition: transform 1s;
    float: left;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

}

.img:hover{
    filter: brightness(90%);
}

hr{
    transform-origin: center 1px;
    margin-left: 220px;
    margin-top: 10px;
    width: 800px;
    color: black;
    background-color: black;
    height: 0.2px;
    border-color: black;

}

.contenedor1{
    background-color: #FFFAFA;
    margin: auto;
}

.tabla{
    margin: auto;
}

.libro{
    font-style: italic;
    letter-spacing: 1.6px;
    line-height: 1.5em;
    text-align: center;
    font: normal normal normal 16px/1.4em 'palatino linotype',serif;
    color: #3D3D3D;
    visibility: inherit;
    margin-left: 30px;

  }